
@media (min-width: 900px) {
    
    #hamburger {
         display: none;
    }
     
    .navigation {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         width: 50%;
         margin-right: 2rem;
    }
 
    .navigation li {
         list-style: none;
    }

    /* GET A PROMPT */

     #prompt-header {
          flex-direction: row; 
     }
     
     #prompt-button {
          width: 40%; 
          margin-right: 0.5rem; 
     }
     
     #random-prompt {
          margin: 0; 
     }

     #entry-content {
          width: 95.5%;
      }
 }